* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Caveat Brush', serif;
  height: 100%;
  width: 100%;
}

a {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .navbar {
    min-height: 60px;
  }
}

@media screen and (max-width: 640px) {
  .collapse {
    height: 200px;
    background-color: #f7f7f7;
  }
}

.navbar {
  background-image:
    linear-gradient(#009999, #ffa366);
  /*border: 1px solid blue;*/
}

.nav-link {
  font-weight: bold;
  margin-right: 20px;
  color: #591D95 !important;
}

.dropdown-item {
  margin-right: 20px;
  color: #591D95 !important;
  text-align: center;
}

.dropdown-menu {
  background-image:
    linear-gradient(#009999, #ffa366);
}

@media only screen and (min-width: 990px) {
  .nav-link:hover {
    background-color: #591D95;
    font-weight: bold;
    border: 1px solid white;
    color: white !important;
  }
}

@media only screen and (min-width: 900px) {
  .dropdown-item:hover {
    font-weight: bold;
    background-color: #591D95;
    color: white !important;
  }
}

.active {
  border-bottom: 1px solid white;
}

.dropdown-active {
  color: white !important;
}

header {
  position: relative;
  width: 100%;
  height: 300px;
}

#logo {
  /*border-radius: 150px;*/
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logoContainer {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 300px;
  margin: 0;
  background-image:
    linear-gradient(#ffa366, #009999);
}

/*#FF4500, #663399 ORANGE TO PURPLE 1*/

#title {
  width: 80%;
  height: 300px;
  position: absolute;
  background-image: url('../images/title-image-foxes.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  display: inline-block;
  color: black;
  margin: 0;
}

.navbar-text {
  font-weight: bold;
  text-align: left;
  width: 350px;
  font-size: 30px;
  color: #000 !important;
}

h1.secondaryPageTitle {
  text-align: center;
  padding: 75px 0;
}

.img-fluid {
  margin: auto;
  width: 100%; /*works for landscape pics*/
  /*width: auto;*/
  height: auto;
  max-height: 300px;
  opacity: 0.5;
}

.carousel {
  background-color: grey;
  width: auto;
  height: auto;
  min-height: 200px;
}

.carousel-caption {
  color: #000
}

.aboutContainer {
  margin: 6% auto;
  padding-bottom: 20px;
  width: 90%;
  background-color: rgba(255, 163, 102, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6)
}

.secondaryPageContainer {
  display: inline-block;
  width: 100%;
  position: relative;
}

p {
  display: inline-block;
  width: 40%;
  padding-left: 10%;
}

ul {
  width: 45%;
  padding-left: 15%;
}

li {
  margin-top: 10px;
}

.secondaryPageImages {
  display: inline-block;
  position: absolute;
  width: 40%;
}

#aboutImageUpper, #yogaForActorsImageUpper, #contactImageUpper {
  display: block;
  width: 250px;
  margin: 0 auto 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6)
}

#aboutImageLower, #yogaForActorsImageLower, #contactImageLower{
  display: block;
  width: 250px;
  margin-top: 10px;
  margin-left: 55%;
  margin-right: 45%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6)
}

.btn-social-icon.btn-lg {
  height: 45px;
  width: 45px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.footerContainer {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  }
}

@media screen and (max-width: 980px) {
  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

/*.footer {
  width: 100%;
  height: 200px;
  max-width: 1920px;
  background:url('../images/hindi-pattern.jpg');
  background-size: 40%;
  bottom: 0;
}*/

/*footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   /*background:#6cf;
}*/
